@charset "utf-8";

/* 스킵 내비게이션 */
#skip { position : relative; }
#skip a { position : absolute; left : 0; top : -35px; border : 1px solid white; color : #fff;
background-color : #333; line-height : 30px; width: 180px; text-align : center; }
#skip a:active,
#skip a:focus { top : 0; } 

/* 레이아웃 */
#wrap { }
#header { height : 325px; 
background : url(../img/header_bg.jpg) center top repeat-x; }
#contents { }
#footer { background-color: #fff; }

/* 컨텐츠 레이아웃 */
#cont_nav { background-color : #ddeffc; display : none ; }
#cont_tit { background-color : #bbdefb; }
#cont_ban { background-color : #b7daf7; }
#cont_cont { background-color : #eaf6ff }

/* 컨테이너 레이아웃 */
.container { margin : 0 auto; width : 990px; height : inherit;  }


/* 헤더 */
.header {}
.header .header-meun { text-align : right; }
.header .header-meun a { color : #fff; padding : 10px 0px 10px 13px; display : inline-block;}
.header .header-meun a:hover { color : #666; }
.header-tit { text-align : center;}
.header-tit h1 { background-color : #4aa8d4; font-size : 30px; padding : 5px 20px 6px 20px; color : #fff; display : inline-block;
margin-top : 40px; text-transform : uppercase; font-weight : normal; }
.header-tit a { display : inline-block; background-color : #2698cb; font-size : 20px; padding : 5px 20px 6px 20px; color : #fff;
margin-top: -5px;}
.header .header-icon { text-align : center; margin-top : 30px;}
.header .header-icon a { width : 60px; height : 60px; display : inline-block; background : url(../img/icon.png); margin : 0 3px;}
.header .header-icon a.icon1 {background-position : 0 0;}
.header .header-icon a.icon2 {background-position : 0 -60px;}
.header .header-icon a.icon3 {background-position : 0 -120px;}
.header .header-icon a.icon4 {background-position : 0 -180px;}
.header .header-icon a.icon1:hover {background-position : -60px 0;}
.header .header-icon a.icon2:hover {background-position : -60px -60px;}
.header .header-icon a.icon3:hover {background-position : -60px -120px;}
.header .header-icon a.icon4:hover {background-position : -60px -180px;}

/* 
float : left로 인한 영역깨짐(height:0) 방지법 
 1. 깨지는 영역에 똑같이 float : left를 사용한다.(X) 
 2. float의 성질을 차단하는 clear:both;를 사용한다.(X) 
 3. float을 사용한 상위 박스한테 overflow:hidden을 사용한다. (0) 
 4. clearfix를 사용합니다. (0)
 */

/* 전체 메뉴 */
.nav { overflow : hidden; padding : 30px 0;}
.nav > div { float : left; width : 40%; }
.nav > div:last-child { width : 20%; } /* ie9부터 사용가능 */
.nav > div h3 { font-size : 18px; color : #25a2d0;  margin-bottom : 4px; }
.nav > div ol { overflow : hidden; }
.nav > div li { float : left; width : 50%; }
.nav > div:last-child ol li{ width : 100%; }
.nav > div ol li a:hover { text-decoration : underline; }

/* 타이틀 */
.tit { position : relative; padding : 5px 0; letter-spacing : 2px; }
.tit h2{ text-align : center; font-size : 40px; font-family : 'Nanum Brush Script'; color : #2c94c4; }
.tit .btn { position : absolute; top : 5px; right : 0; width : 60px; height : 60px;  background : url(../IMG/icon.png) no-repeat 0 -600px; }
.tit a.btn:hover {background-position : -60px -600px;}
.tit .btn.on {background-position: 0 -660px ; }

/* 배너 */
/*
.ban { position : relative; padding : 24px 0 20px;}
.ban a.prev { position : absolute; left : -60px; top: 60px; width : 43px; height : 43px; background : url(../IMG/icon.png) no-repeat -150px 0; }
.ban a.next { position : absolute; right: -60px; top: 60px; width : 43px; height : 43px; background : url(../IMG/icon.png) no-repeat -150px -43px; }
.ban a.prev:hover { background-position : -193px 0px;}
.ban a.next:hover { background-position : -193px -43px;}
.ban ul { overflow : hidden;}
.ban ul li {float : left; width : 330px; }
.ban ul li:first-child {text-align : left; } /* ie9부터 사용가능 
.ban ul li:last-child {text-align : right; } /* ie9부터 사용가능 
.ban ul li:nth-child(2) { text-align : center; } /* ie9부터 사용가능 
.ban ul li img { border : 4px solid #dcdcdc; }
.ban ul li img:hover {border-color : #98dcdc;}
*/

/* slick 배너 */
.ban { overflow : hidden ; line-height: ;}
.ban .slick-arrow {}
.ban .slick-prev { float : left ; }
.ban .slick-next { float : right ; }
#slick-slide-control00 {}
#slick-slide-control01 {}
#slick-slide-control02 {}

/* 컨텐츠 */
.cont { overflow : hidden; padding-top : 30px;}
.cont .colunm { float : left; width : 289px; height : 363px; margin : 0px 30px 30px 0; padding-right : 30px; position : relative;}
.cont .col1 { border-right : 1px solid #c8c8c8; }
.cont .col2 { border-right : 1px solid #c8c8c8; }
.cont .col3 { margin-right : 0; padding-right : 0; }
.cont .col4 { border-right : 1px solid #c8c8c8; }
.cont .col5 { border-right : 1px solid #c8c8c8; }
.cont .col6 { margin-right : 0; padding-right : 0; }

.cont .colunm .ico_img { display : block ; width : 60px ; height : 60px ; background : url(../IMG/icon.png) no-repeat ; position : absolute ; left : 0 ; top : 0 ; }
.cont .colunm .ico_tit { padding-left : 70px ; font-size : 16px ; color : #2c94c4 ; }
.cont .colunm .ico_desc { padding-left : 70px; padding-bottom : 15px; border-bottom : 1px solid #d0d0d0; margin-bottom : 10px ; }

.cont .col1 .ico_img { background-position : 0 -240px ; }
.cont .col2 .ico_img { background-position : 0 -300px ; }
.cont .col3 .ico_img { background-position : 0 -360px ; }
.cont .col4 .ico_img { background-position : 0 -420px ; }
.cont .col5 .ico_img { background-position : 0 -480px ; }
.cont .col6 .ico_img { background-position : 0 -540px ; }

.cont .col1 .ico_img:hover { background-position : -60px -240px ; }
.cont .col2 .ico_img:hover { background-position : -60px -300px ; }
.cont .col3 .ico_img:hover { background-position : -60px -360px ; }
.cont .col4 .ico_img:hover { background-position : -60px -420px ; }
.cont .col5 .ico_img:hover { background-position : -60px -480px ; }
.cont .col6 .ico_img:hover { background-position : -60px -540px ; }


/* 컨텐츠 안에 게시판 */


/* 게시판1 */
.notice1 { position : relative; }
.notice1 h4 { font-size : 16px; padding : 0 0 5px 0; color : #0093bd; font-weight :  bold; }
.notice1 ul li { overflow : hidden; text-overflow : ellipsis; white-space : nowrap; background : url(../IMG/dot.gif) no-repeat 0 8px; padding-left : 8px;}
.notice1 ul li a {font-size : 12px;}
.notice1 .more { display : block; position : absolute; top : 0; right : 0; background : url(../IMG/icon.png) no-repeat -150px -90px; width : 17px; height : 17px; }
.notice1 .more:hover { background-position : -167px -90px; }


/* 게시판2 */
.notice2 { position : relative; overflow : hidden;}
.notice2 h4 { font-size : 16px; margin-top : 15px; padding-bottom : 5px; color : #0093bd; font-weight : bold; }
.notice2 ul li { font-size : 12px; }
.notice2 ul li a { display : block; float : left; overflow : hidden; text-overflow : ellipsis; white-space : nowrap; background : url(../IMG/dot.gif) no-repeat 0 8px; padding-left : 8px; width : 65%; }
.notice2 ul li span { display : block; float : right; text-align : right;}
.notice2 .more { display : block; position : absolute; top : 15px; right : 0; background : url(../IMG/icon.png) no-repeat -150px -90px; width : 17px; height : 17px; }
.notice2 .more:hover { background-position : -167px -90px; }


/* 마우스 오버효과1 */
.notice3 { position : relative }
.notice3 h4 { font-size : 16px ; color : #0093bd ; font-weight: bold ; padding-bottom : 5px ; }
.notice3 ul li { position : relative ; padding : 8px 0 14px 60px ; }
.notice3 ul li a img{ width : 50px ; position : absolute ; left : 0 ; top : 0 ; border : 1px solid #0093bd ; }
.notice3 ul li a strong { display : block ; }
.notice3 ul li a span { display : block ; overflow : hidden ; text-overflow : ellipsis ; white-space : nowrap ; }
.notice3 .more { display : block ; position : absolute ; top : 0 ; right : 0 ; background : url(../IMG/icon.png) no-repeat -150px -90px ; width : 17px ; height : 17px ; }
.notice3 ul li a img:hover { border-color : black ; }


/* 마우스 오버효과2 */
.notice4 { overflow : hidden; }
.notice4 h4 { font-size : 16px ; color : #0093bd ; font-weight: bold ; padding-bottom : 5px ; }
.notice4 ul { overflow : hidden ; }
.notice4 li { display : block ; float : left ; width : 93px ; text-align : center; margin-right : 5px ; }
.notice4 li:last-child { margin-right : 0 ; }
.notice4 a img { width : 100% ; }
.notice4 ul.hover1 li span { display : block; position : relative ; width : 93; height : 93px ; line-height : 93px ; }
.notice4 ul.hover1 li { margin-bottom : 5px ; }
.notice4 ul.hover1 li span em { visibility : hidden ; position : absolute ; top : 0 ; left : 0 ; background-color : rgba(0, 0, 0, 0.7) ; color : #fff; width : 100% ; height : 100% ; } 
.notice4 ul.hover1 li span:hover em { visibility : visible ; }
.notice4 li a strong { padding-top : 3px ; display : inline-block; font-size : 12px ; }
.notice4 ul.hover2 li span { display : block ; position : relative ; width : 93 ; height : 93px ; }
.notice4 ul.hover2 li span em { visibility : hidden ; position : absolute ; bottom : 0 ; right : 0 ; background-color: rgba(0,0,0,0.7) ; color : #fff ; width : 100% ; height : 20% ; }
.notice4 ul.hover2 li span:hover em { visibility : visible ; }


/* 텝 메뉴 */
.tab_menu { position : relative ; border : 1px solid #ccc ; padding : 8px ; height : 105px ; margin-top : 10px ; }
.tab_menu ul { overflow : hidden ; border-bottom : 1px solid #ccc ; }
.tab_menu ul li { float : left ; border : 1px solid #ccc ; margin-right : -1px ; margin-bottom : -1px ; }
.tab_menu ul li a { display : block ; padding : 5px 10px ;}
.tab_menu ul li ul { position : absolute ; top : 48px ; left : 0 ;  width : 270px ; border : 0 ; }
.tab_menu ul li ul li { float : none ; border : 0 ;  background : url(../IMG/dot.gif) no-repeat 9px 8px ; padding-left : 18px ; }
.tab_menu ul li ul li a { overflow : hidden ; text-overflow : ellipsis ; white-space : nowrap ; width : 100% ; width : 100% ; 
    padding : 0 0 3px 0 ; }
.tab_menu ul li.active { background-color : #2c94c4 ; }
.tab_menu ul li.active a { color : #fff ; }
.tab_menu ul li.active ul li a { color : #333 ; }
.tab_menu2 { margin-top : 10px ; }


/* 컨텐츠 요소를 보이지 않게하는 방법

display : none -- display : block (영역사라짐)
visibility : hidden -- visibility : visible; (영역유지)
opacity : 0 -- opacity : 1; (영역유지)
width : 0 ; height : 0 ; overflow : hidden ; 
*/

/* 게시판4 */
.tab_menu2 { overflow : hidden ; border : 1px solid #ccc ; height : 105px ; }
.tab_menu2 h4 { font-size : 14px ; color : #0093bd ; font-weight : bold ; padding : 4px 5px ; border-bottom : 1px solid #ccc ; }
.tab_menu2 h4 span { color : #ec407a ; }
.tab_menu2 h4 a.more span { color : #111 ; float : right ;}
.tab_menu2 ul { margin-top : 3px ; }
.tab_menu2 ul li a { overflow : hidden ; text-overflow : ellipsis ; white-space : nowrap ;
    display : block ; float : left ;margin : 2px 5px ; background: url(../IMG/dot.gif) no-repeat 0 8px ; padding-left : 8px ; width : 50% ;  }
.tab_menu2 ul li span { display : block ; float : right ; background :none ; margin : 2px 5px ;}

/* 갤러리 */

.notice6 { position : relative ; border : 1px solid #ccc ; height : 254px ; overflow : hidden ; }
.notice6 h4 { font-size : 14px ; color : #0093bd ; border-bottom : 1px solid #ccc ; padding : 10px 0 8px 11px ;  font-weight : bold ; }
.notice6 .gallery_btn { position : absolute ; top : 7px ; right : 5px ; }
.notice6 .gallery_btn ul {}
.notice6 .gallery_btn ul li { float : left ; margin : 1px 2px ; }
.notice6 .gallery_btn ul li a { display : block ; width : 23px ; height : 23px ; background: url(../IMG/icon.png) no-repeat;}
.notice6 .gallery_btn li.gb_icon1 a { background-position : -150px -120px ; }
.notice6 .gallery_btn li.gb_icon2 a { background-position : -150px -143px ; }
.notice6 .gallery_btn li.gb_icon3 a { background-position : -150px -166px ; }
.notice6 .gallery_btn li.gb_icon4 a { background-position : -150px -189px ; }
.notice6 .gallery_btn li.gb_icon1 a:hover { background-position : -173px -120px ; }
.notice6 .gallery_btn li.gb_icon2 a:hover { background-position : -173px -143px ; }
.notice6 .gallery_btn li.gb_icon3 a:hover { background-position : -173px -166px ; }
.notice6 .gallery_btn li.gb_icon4 a:hover { background-position : -173px -189px ; }
.notice6 .gallery_img img {width : 100% ; }


/* 로그인 */
#login_form { background: #f2f4f5; padding : 15px ; }
.login_header { overflow : hidden ; height : 30px ; font-size : 12px ; }
.login_header .lh_check { float : left ; padding-right : 15px ; }
.login_header .lh_check .input_check { vertical-align : -2px ; }
.login_header .lh_ip { float : left ; }
.login_header .lh_ip em {color : #0093bd ; text-decoration: underline;}

.login_content { position : relative ; }
.login_content .lc_btn { position : absolute ; right : 0 ; top : 0 ; width : 62px ; height : 47px ; 
background-color: #fff ; border : 1px solid #bebebe ; }
.login_content .input_text { width : 182px ; height : 16px ; padding : 2px 5px ; border : 1px solid #bebebe ;  margin-bottom : 3px ; background-color: #fff; }

.login_footer { margin-top : 5px ; }
.login_footer li { display : inline ; }
.login_footer li a { font-size : 12px ; }

/* 광고 */
.advertisement { margin-top : 10px ; }
.advertisement h4 { font-size : 14px ; color : #0093bd ; font-weight : bold ; }
.advertisement ul { overflow : hidden ; }
.advertisement a {}
.advertisement a li { float : left ; padding : 2px 4px 0 0 ; }
.advertisement a li img { width : 92px ; height : 90px ; }

/* 푸터 */
.footer_wrap {}
.footer_wrap ul.footer_text { text-align : center ; }
.footer_wrap ul.footer_text a { display : inline-block ; }
.footer_wrap ul.footer_text a li { padding : 0 10px ; margin-top : 30px ; border-left : 1px solid #ccc ; }
.footer_wrap ul.footer_text a:first-child li { border : 0 ; }
.footer_wrap ul.footer_text a:last-child li { border : 0 ; margin-bottom : 20px ; }
.footer_wrap ul.footer_img { text-align : center ; }
.footer_wrap ul.footer_img li { display : inline-block ; }
.footer_wrap ul.footer_img li:first-child { margin : 0 5px 30px 0 ; }
.footer_wrap ul.footer_img li a { }
.footer_wrap ul.footer_img li a img {}